<mat-form-field>
    <mat-select placeholder="Choose From Currency" (selectionChange)="selectedItem($event)">
        <mat-option *ngFor="let currency of currencies" [value]="currency.currencyCode">
            {{currency.currencyName}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="Choose To Currency" (selectChange)="selectedItem($event)">
        <mat-option *ngFor="let currency of currencies" [value]="currency.currencyCode">
            {{currency.currencyName}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="d3-linechart__line"></div>
<svg class="d3-linechart" width="960" height="500"></svg>